/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero {
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectTagline {
  font-size: 60px;
  text-align: center;
  max-width: 800px;
  margin-top: 20px;
}

.heroTitle b {
  color: var(--ifm-color-primary);
}

@keyframes jack-in-the-box {
  0% {
      opacity: 0;
      transform: scale(0.1) rotate(30deg);
      transform-origin: center bottom;
  }

  50% {
      transform: rotate(-10deg);
  }

  70% {
      transform: rotate(3deg);
  }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jack-in-the-box;
  margin-top: 0;
  float: right;
  padding: 0 10px 10px;
  height: auto;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
  --ifm-button-size-multiplier: 1.6;
  font-size: 50px;
}

.buttons a:last-of-type {
    margin: 20px 10px;
}

@media screen and (max-width: 1065px) {
  .heroBanner {
      padding: 2rem;
  }
  .hero {
      padding-left: 20px;
      padding-right: 20px;
  }

  .heroInner {
      padding: 0;
  }

  .heroProjectTagline {
      font-size: 30px;
      text-align: center;
  }

  .heroLogo {
      display: block;
      float: none;
      margin: 0 auto;
  }

  .buttons {
      justify-content: center;
  }

  .buttons a {
      margin: 20px 10px;
  }
}
